# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/EnterpriseEJBRemote/target/
/EnterpriseEJB/EnterpriseEJB-ejb/target/
/EnterpriseEJB/EnterpriseEJB-web/target/
/EnterpriseEJB/EnterpriseEJB-ear/target/
/ClienteWEB/target/
/ClienteWEB(2)/nbproject/private/
/EJB_Module_Alumnos/target/
/CarrerasAlumnosEJB/nbproject/private/
/CarrerasAlumnosEJB/CarrerasAlumnosEJB-war/nbproject/private/
/CarrerasAlumnosEJB/CarrerasAlumnosEJB-ejb/nbproject/private/
/CarrerasAlumnosRemoteInterface/nbproject/private/
/CarrerasAlumnosRemoteInterface/build/
/CarrerasAlumnosRemoteInterface/dist/
/CarrerasAlumnosEJB/build/
/CarrerasAlumnosEJBModule/nbproject/private/
/CarrerasAlumnosCliente/nbproject/private/
/CarrerasAlumnosEJBModule/dist/
/CarrerasAlumnosEJBModule/build/
/CarrerasAlumnosCLiente/nbproject/private/
/CarrerasAlumnosCLiente/build/
/CarrerasAlumnosCLiente/dist/
/TestEJB/nbproject/private/
/TestRemoteInterface/nbproject/private/
/TestEJB/build/
/TestEJB/dist/
/TestEJBModule/nbproject/private/
/TestEJBRemote/nbproject/private/
/TestEJBModule/build/
/TestEJBModule/dist/
/kjhjkhhjhjh/nbproject/private/
/TestEJB/TestEJB-war/nbproject/private/
/TestEJB/TestEJB-ejb/nbproject/private/
/kjsdfhdjfhjdfh/nbproject/private/
/TestEJBRemote/dist/
/TestEJBRemote/build/
/TestEJB/TestEJB-ejb/dist/
/TestRemoteInterface/dist/
/TestRemoteInterface/build/
/ClientTestEJB/nbproject/private/
/TestEJBCarreras/nbproject/private/
/TestEJBCarreras/TestEJBCarreras-war/nbproject/private/
/TestEJBCarreras/TestEJBCarreras-ejb/nbproject/private/
/TestEJBCarreras/TestEJBCarreras-ejb/build/
/TestEJBCarreras/build/
/TestEJBCarreras/dist/
/TestEJBCarreras/TestEJBCarreras-war/dist/
/TestEJBCarreras/TestEJBCarreras-war/build/
/TestEJBCarreras/TestEJBCarreras-ejb/dist/
/CarrerasAlumnosCliente/build/
/CarrerasEJBCliente/nbproject/private/
/CarrerasEJBCliente/build/
/CarrerasEJBCliente/dist/
/Cliente/nbproject/private/